<h1>Seattle Patios</h1>

<div>
  <%= '*'*70 %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patios.each do |patio| %>
      <tr>
        <td><%= render_patio_link(patio) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
