// COLOR SCHEME
$red: #f15025;
$dark-blue: #1e152a;
$olive: #83781b;
$yellow: #ffc15e;
$background: #fcfbf9;

.block { display: block; }
.underline { text-decoration: underline; }
.center { text-align: center; }
.hidden { display: none; }
.right { float: right; }
.left { float: left; }
.inline { display: inline-block; }

body {
  color: $dark-blue;
  margin: 33px;
  background: -moz-linear-gradient(269deg, rgba(255,229,199,1) 30%, rgba(204,213,255,1) 100%, rgba(204,213,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255,229,199,1)), color-stop(100%, rgba(204,213,255,1)), color-stop(100%, rgba(204,213,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(269deg, rgba(255,229,199,1) 30%, rgba(204,213,255,1) 100%, rgba(204,213,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(269deg, rgba(255,229,199,1) 30%, rgba(204,213,255,1) 100%, rgba(204,213,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(269deg, rgba(255,229,199,1) 30%, rgba(204,213,255,1) 100%, rgba(204,213,255,1) 100%); /* ie10+ */
  background: linear-gradient(181deg, rgba(255,229,199,1) 30%, rgba(204,213,255,1) 100%, rgba(204,213,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE5C7', endColorstr='#CCD5FF',GradientType=0 ); /* ie6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body, p, ol, ul, td {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

label {
  display: block;
}

a {
  color: $red;
  opacity: 0.8;

  &:visited {
    color: $red;
    opacity: 0.5;
  }

  &:hover {
    color: $red;
    opacity: 1;
  }
}
