// Place all the styles related to the Patios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#mixes_index {
  .back-link {
    padding-bottom: 10px;
  }

  p {
    float: center;
  }

  .mixes-container{
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 10px;

    .mix-container{
      padding-bottom: 30px;
      span {
        padding-top: 7px;
      }
    }
  }
}
